.offer{
    height: 80vh;  
    padding: 0px 100px;
    margin-bottom: 50px;
    background-image: url('../Assets/women_png.jpg');    
    background-size: cover; 
    background-repeat: no-repeat; 
    display: flex;
    flex-direction: row-reverse;
}

.offer-text{
    padding: 50px 100px;
    color: #fffefeca;

}

.offer-text h1{
    font-size: 50px;
}

.offer-text p{
    font-size: 30px;
}

.offer button{
  background-color: rgba(255, 255, 255, 0.85);   
  border-color: rgba(255, 255, 255, 0.85);
  border: none;
  width: 200px;
  height: 90px;
  font-size: 30px;
  font-weight: lighter;
  color:rgba(143, 143, 143, 0.85);
  animation: resize 1s 3;
}
@keyframes resize {
    0%, 100% {
        transform: scale(1); 
    }
    50% {
        transform: scale(1.5); 
    }
}

.offer button:hover{
    transform: scale(1.1);
}