.list-product{
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 50px;
    padding: 50px;
    background-color: rgb(255, 255, 255);
}
.header h1{
    text-align: center;
}
.header hr{
    width: 100px;
    height: 5px;
    border-radius: 8px;
    background-color: black;
}
.list-product-main{
    display: grid;
    grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr 1fr;    
    font-size: 25px;
    font-weight: 800;
   
}

.product-image{
    height: 150px;
    width: 150px;
    border-radius: 30px;
    margin: 10px;

}
.list-product-column-format{
    display: grid;
    grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr 1fr;
    font-size: 23px;
    align-items: center;
}

.list-product-column-format hr{
    width: 100%;
}


.line-break{
    width: 100%;

}

.remove-icon{
    cursor: pointer;
   
}

.remove-icon:hover{
    transform: scale(1.2);
    display: inline-flex;
}