.navbar{
    background-color: rgb(243, 243, 243);
    display: flex;
    justify-content: space-between;
    padding: 0px 40px 10px 40px;
    box-shadow: 0 1px 3px -2px black;
}


.navbar-logo img{
    height: 100px;
    margin: 10px 10px 0px 10px; 
}

.navbar-logo{
    display: flex;
}

.navbar-logo-text{
    text-align: center;
    gap: 0px;
    margin-top: 10px;
    font-weight: 800;

}

.navbar-logo-text h1{
    margin-bottom: 0px;
}

.navbar-logo-text p{
    margin-top: 0px;
}

.navbar-profile{
    margin-left: 40px;
}
.navbar-profile img{
    height: 80px;
    margin-bottom: 0px;
}

.navbar-profile p{
    text-align: center;
    margin: 0px;
}