.hero {
    height: 100vh;
    background-image: url('../Assets/hero_image.jpg');
    background-size: cover; 
    background-repeat: no-repeat; 
    margin-bottom: 50px;
  
}

.hero-text{
    padding: 100px;
    color: #797979ca;

}

.hero-text h1{
    font-size: 50px;
    
}

.hero-text p{
    font-size: 30px;
}

.hero button{
  background-color: rgba(255, 255, 255, 0.85);   
  border-color: rgba(255, 255, 255, 0.85);
  border: none;
  width: 200px;
  height: 60px;
  font-size: 30px;
  font-weight: lighter;
  color:rgba(143, 143, 143, 0.85);
  animation: resize 1s 3;
}

@keyframes resize {
    0%, 100% {
        transform: scale(1); 
    }
    50% {
        transform: scale(1.5); 
    }
}


.hero button:hover{
    transform: scale(1.1);
}