.navbar{
    justify-content: space-around;
    display: flex;
    padding: 16px;
    align-items: center;
}

.logo a{
    display: flex;
    gap: 15px;
    align-items: center;
    color:rgb(62, 62, 62);
  
}
.navbar img{
    height: 80px;
    width: 80px;
    border-radius: 15px;
}

.menu{
    display: flex;
    align-items: center;
    list-style: none;
    font-size: 35px;
    gap:70px;
    font-weight: 500;
 
}

.menu li{
    cursor: pointer;
    
}

.cart-login{
    display: flex;
    align-items: center;
    gap: 45px;
  
}
.cart-login img{
    cursor: pointer;
    width: 70px;
    height: 70px;
}
.cart-login button{
    font-size: 20px;
    font-weight: 100;
    background-color:rgb(4, 4, 4);
    color: rgb(255, 251, 251);
    border: none;
    width: 100px;
    height: 40px;
    border-radius: 30px;
    cursor: pointer;
}

.cart-counter{
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -35px;
    margin-left: -55px;
    border-radius: 16px;
    font-size: 13px;
    background: black;
    color: white;

}

li hr{
    border-top: 2px solid grey;
    width: 18px;
}

a{
    text-decoration: none;
}

.logo a:hover{
    transform:  scale(1.1);
}